@font-face {
    font-family: 'Super Mario 256';
    src: url('../fonts/SuperMario256.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../images/brick.png');
}

.titulo-jogo {
    width: 50%;
    display: block;
    margin: 20px auto;
}

.game-board {
    width: 80%;
    height: 500px;
    border: 5px solid #333;
    border-bottom: 15px solid #23a023;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87ceeb, #e0f6ff);
}

.menu-start button {
    position: absolute;
    border: none;
    width: 130px;
    height: 70px;
    margin: 50px 45%;
    z-index: 6;
    background-color: #FE965B;
    border-radius: 4px;
    box-shadow: 2px 2px 5px #000;
    color: #fff;
    font-size: 2em;
    font-family:'Courier New', Courier, monospace;
    font-weight: 900;
    transition: filter .2s;
}

.menu-start button:hover {
    cursor: pointer;
    filter: brightness(1.2);
}

.game-over {
    position: absolute;
    display: block;
    width: 300px;
    height: 150px;
    margin: 50px 37%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    z-index: 5;
    background-color: #FE965B;
    border-radius: 4px;
    box-shadow: 2px 2px 5px #000;
    opacity: 0;
}

.game-over img {
    width: 285px;
}

.game-over button {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #00a9dc;
    color: #fff;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    box-shadow: 1px 1px 2px #000, -1px -1px 2px #fff;
}

.game-over button:hover {
    cursor: pointer;
    filter: brightness(1.2);
}

.game-over button:focus {
    outline: none;
}

.score {
    width: 100px;
    height: 50px;
    position: absolute;
    right: 20px;
    z-index: 4;
    text-align: center;
    align-items: center;
    margin-top: 20px;
    font-weight: 900;
    font-family:'Courier New', Courier, monospace;
    font-size: 1.2em;
    background-color: #FE965B;
    border-radius: 4px;
    color: #fff;
    padding-top: 12px;
    box-shadow: 2px 2px 5px #000;
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 2s infinite linear;
}

.mario {
    width: 150px;
    position: absolute;
    bottom: 0;
}

.jump {
    animation: jump 500ms ease-out;
}

.clouds {
    width: 550px;
    position: absolute;
    animation: clouds-animation 20s infinite linear;

}

@keyframes pipe-animation {
    from {
        right: -80px;
    }
    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }
    40% {
        bottom: 180px;
    }
    50% {
        bottom: 180px;
    }
    60% {
        bottom: 180px;
    }
    100% {
        bottom: 0;
    }
}

@keyframes clouds-animation {
    from {
        right: -550px;
    }

    to {
        right: 100%;
    }
}
